
    <div class="container-fluid">
        <input type="text"
               class="form-control"
               placeholder="username" ng-model="model.user.username"/>
        <input type="password"
               class="form-control"
               placeholder="password" ng-model="model.user.password"/>
        <input type="password"
               class="form-control"
               placeholder="verify password" ng-model="model.user.vpassword"/>
        <a class="btn btn-primary btn-block"
           ng-click="model.register(model.user)">Register</a>
        <a class="btn btn-danger  btn-block"
           href="#!/login">Cancel</a>
    </div>
