input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

body {
	margin-top: 30px;
	margin-bottom: 70px;
}

li.borderless {
	border: 0 none;
}

.navbar-default {
	background-color: lightblue;
}

@media screen and (orientation: landscape) {
	.container {
		padding: 0;
		margin: auto;
	}
	.col-xs-4 {
		border-right: solid;
	}
}
@media screen and (orientation: portrait) {
    
    .col-xs-4 {
        display: none;
    }
    .col-xs-8 {
    	width: 100%;
    }
}