
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
                <a class="navbar-brand" href="#">
                    Choose Widget
                </a>
            </div>
        </div>
    </nav>


    <div class="website-main container-fluid">
        <ul class="list-group">
          <li class="list-group-item justify-content-between borderless">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">Header</a>
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a>Label</a>  
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a href="">HTML</a>
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a href="">Text Input</a>

          </li>
          <li class="list-group-item justify-content-between borderless">
            <a>Link</a>
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a>Button</a>  
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">Image</a>
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">Youtube</a>

          </li>
          <li class="list-group-item justify-content-between borderless">
            <a href="">Data Table</a>
          </li>
          <li class="list-group-item justify-content-between borderless">
            <a href="">Repeator</a>

          </li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>

