

    <div class="container-fluid">   
        <div class="form-group">
            <label for="widgetname">Name</label>
            <input type="text" class="form-control" id="widgetname">
        </div>
        <div class="form-group">
            <label for="widgettext">Text</label>
            <input tyep="text" class="form-control" id="widgettext"></textarea>
        </div>
        <div class="form-group">
            <label for="widgeturl">URL</label>
            <input tyep="text" class="form-control" id="widgeturl"></textarea>
        </div>
        <div class="form-group">
            <label for="widgetwidth">Width</label>
            <input tyep="text" class="form-control" id="widgetwidth"></textarea>
        </div>
        <div class="form-group">
             <a class="btn btn-danger  btn-block" href="#!/user/:uid/website/:wid/page/:pid/widget">Delete</a>
        </div>      
    </div>

